h1 {
  color:blue;
  margin:30px;
}

*{
  border:solid;
  border-color: yellow;
}
* {
  text-transform: uppercase;
}
.Header{
  background-color:orange;
  display:flex;
  justify-content: space-between;
}
.grid{
  display:flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
.footer{
  display: flex;
  justify-content: flex-end;
}
h2,p{
  text-align: center;
}
body{
  background-color: orange;
}

a:link{
  color:red;
}
a:visited{
  color:black;
}

.item{
  position: relative;

}

.item p{
  position: absolute;
  top:5%;
  left:20%;
  color:orange;
  opacity: 0;
}

.item:hover p{
  opacity: 5;
}

.item:hover img{

  opacity: 0.3;
}
///1000
